# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Typescript build
dist/
*.tsbuildinfo

# Environment
.env
.env.*.local

# Logs and OS
*.log
.DS_Store

# Backups
*.bak
*.broken*
backend/prisma/dev.db
backend/prisma/dev.db-journal
.github/workflows/*.bak-*
backend/prisma/migrations_backup_*/
